.arrow-div {
	position: absolute;
	// padding-bottom: 5px;
	border-radius: 1px;
	box-shadow: 0px 1px 11px 0px #697d9c;

	&:after , &:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
}
