.pageSlider {
	position: relative;
	overflow: hidden;
	width: 100%;

	.pageSlide {
		position: absolute;
		width: 100%;
	}

	.dots{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
		width: 100%;
		height: 35px;

		.dot{
			float: left;
			margin: 0 10px;
			width: 15px;
			height: 15px;
			border: 1px solid;
			border-radius: 10px;
		}

	}

	.slide-open-left {
	  @include default-animation(slide-open-left, .4s);
	}
	.slide-close-left {
	  @include default-animation(slide-close-left, .4s);
	}
	.slide-open-right {
	  @include default-animation(slide-open-right, .4s);
	}
	.slide-close-right {
	  @include default-animation(slide-close-right, .4s);
	}

	.slide-in-left {
	  @include default-animation(slide-in-left, .4s);
	}
	.slide-out-left {
	  @include default-animation(slide-out-left, .4s);
	}
	.slide-in-right {
	  @include default-animation(slide-in-right, .4s);
	}
	.slide-out-right {
	  @include default-animation(slide-out-right, .4s);
	}
}

@keyframes slide-open-left {
  from { left: 100%; }
  to { left: 0; }
}
@keyframes slide-close-left {
  from { left: 0; }
  to { left: 100%; }
}
@keyframes slide-open-right {
  from { right: 100%; }
  to { right: 0; }
}
@keyframes slide-close-right {
  from { right: 0; }
  to { right: 100%; }
}

@keyframes slide-in-left {
  from { right: -100%; }
  to { right: 0; }
}
@keyframes slide-out-left {
  from { left: 0; }
  to { left: -100%; }
}
@keyframes slide-in-right {
  from { left: -100%; }
  to { left: 0; }
}
@keyframes slide-out-right {
  from { right: 0; }
  to { right: -100%; }
}