.screenSlider {
	width: 100%;

	& > div { float: left }

	.arrow {
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		color: white;
		cursor: pointer;

		&.hide{ opacity: 0; }
	}

	.sliderContainer {
		position: relative;
		width: calc(100% - 100px);

		.currDisplay {
			position: absolute;
			color: white;
			height: 30px;

			&.top {
				top: 10px;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&.bottom {
				bottom: 10px;
				right: 10px;
			}

			.dispResult { margin-left: 5px; }
			.dispCurr { margin-right: 5px; }
		}
	}
}