// @include font-smoothing(true);

@mixin font-face(
  $name,
  $font-files,
  $eot: false,
  $weight: false,
  $style: false
) {
  $iefont: unquote("#{$eot}?iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: url($eot);
      $font-files: url($iefont) unquote("format('eot')"), $font-files;
    }
    @if $weight { font-weight: $weight; }
    @if $style { font-style: $style; }
    src: $font-files;
  }
}

@include font-face(
  'Muli',
  font-files(
    copy-font('/fonts/Muli.woff2',false), 		/* Super Modern Browsers */
    copy-font('/fonts/Muli.woff',false),  		/* Pretty Modern Browsers */
    copy-font('/fonts/Muli.ttf',false)),  		/* Safari, Android, iOS */
  copy-font('/fonts/Muli.eot',false),     		/* IE9 Compat Modes and IE6-IE8 */
  'normal');							/* font-weight */
