@import "_reset";

@import "_fonts";
@import "_typography";

body {
	font-family: 'Muli';
	font-weight: normal; 
	font-size: 16px;
	color: $textColor;
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

* {
    box-sizing: border-box;
    @include font-smoothing(true);
}