// See webpack for global mixins import
// No need to import scss mixins into every file
// Just use these mixins


@mixin font-smoothing($value: true){
  @if ($value == true){
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
  }@else{
      -moz-osx-font-smoothing: auto;
      -webkit-font-smoothing: subpixel-antialiased;
  }
}

@mixin vendors($attribute, $values){
  #{'-webkit-' + $attribute}: $values;
  #{'-moz-' + $attribute}: $values;
  #{'-ms-' + $attribute}: $values;
  #{'-o-' + $attribute}: $values;
  #{$attribute}: $values;
}

@mixin box-shadow($values){
  @include vendors(box-shadow, $values);
}

@mixin border-radius($values){
  @include vendors(border-radius, $values);
}

/*Animations*/

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin default-animation-configuration($duration){
  @include vendors(animation-duration, $duration);
  @include vendors(animation-iteration-count, 1);
  @include vendors(animation-timing-function, ease);
  @include vendors(animation-fill-mode, forwards);
}

@mixin default-animation($name, $duration){
  @include vendors(animation-name, $name);
  @include default-animation-configuration($duration);
}

@mixin animation($values){
  @include vendors(animation, $values);
}