// See webpack for global variable import
// No need to import scss variables into every file
// Just use these variables

$color1: #6d0063;
$color2: #ed1e79;
$color3: #F6F7FB;
$selection: #888888;          // Selection color
$lihtSelection: #ddd;

// Theme Colours
$primary: #0061A3;            // Primary bg-color
$primaryHover: #005996;
$primaryText: #fff;
$primaryShadow: 0 0 0 0.125em rgba(0, 97, 163, 0.25);

$link: #3273dc;				  // Link bg-color
$linkHover: #276cda;
$linkText: #fff;
$linkShadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);

$success: #87B049;            // Succcess bg-color
$successHover: #80a745;
$successText: #fff;
$successShadow: 0 0 0 0.125em rgba(135, 176, 73, 0.25);

$info: #209cee;               // Info bg-color
$infoHover: #1497ed;
$infoText: #fff;
$infoShadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);

$warning: #ff5f2d;            // Warning bg-color
$warningText: rgba(0, 0, 0, 0.7);
$warningHover: #ff5520;
$warningShadow: 0 0 0 0.125em rgba(255, 95, 45, 0.25);

$danger: #ff0150;             // Danger bg-color
$dangerText: #fff;
$dangerHover: #f3004c;
$dangerShadow: 0 0 0 0.125em rgba(255, 1, 80, 0.25);

$dark: #363636;				  // Dark bg-color
$darkHover: #2f2f2f;
$darkText: whitesmoke;
$darkShadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);

$light: whitesmoke;			  // Light bg-color
$lightHover: #eeeeee;
$lightText: #363636;


$textColor: #444;
$textColor2: white;
$backdropColor: rgba(0,0,0,.5);


// Spiner color and margin
$spin-color: white;
$spin-secondary-color: black; 
$spin-margin: 0 auto;

// Border radius for buttons
$btnBorderRadius: 4px;
$panelBorderRarius: 0;

// Form input border radius
$inputBorderRadius: 2px;