.currencyEditor {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	font-size: 40px;
	color: white;

	.label { margin-right: 20px; }

	.input {
		width: 80%;
		height: 70px;
		background-color: transparent;
		border: none;
		font-size: 70px;
		caret-color: white;
		text-align: right;
		color: white;

		&:focus { outline: none; }
	}
}